.cartCounter{
    position: absolute;
    top: 12vh;
    right: 15.1vw;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(175, 130, 87, 0.5);
    font-size: .8em;
    color: white;
    text-align: center;
    line-height: 20px;
} 