.lista {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
  list-style: none;
  text-decoration: none;
  background-color: rgb(128, 64, 0, 1);
  padding: 25px 25px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover{
    color: rgb(116, 97, 78);
    font-style: italic;
}